@import url('https://fonts.googleapis.com/css family=Krona+One|Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans');

* {
    box-sizing: border-box;
}

body:not(header) {
    margin: 0px;
    background: url("./images/black_linen_v2.png") center fixed;
    background-repeat: no-repeat;
    background-size: cover; 
    padding-top: 70px;
}

section {
    height: 100%;
}

/* Header */

header {
    background: url("./images/wooden3.jpg") center fixed;
    background-repeat: no-repeat;
    background-size: cover; 
    object-fit: cover;
    background-attachment: fixed;
    margin: 20px 0;
}

header .container {
    display: flex;
    flex-direction: column;
}

header .container h1 {
    text-align: center;
    padding: 20px 0px;
    font-family: 'Bubblegum Sans', cursive; 
    color: aliceblue;
    text-shadow: 2px 2px 2px #444;
    font-size: 50px;
    letter-spacing: 7px;
}

header .container p {
    text-align: center;
    padding: 20px 0px;
    font-family: 'Bubblegum Sans', cursive; 
    font-size: 40px;
    color: aliceblue;
    text-shadow: 2px 2px 2px #444;
    margin-top: auto;
    letter-spacing: 7px;
}

.container i {
    font-size: 55px;
    color: aliceblue;
    text-shadow: 2px 2px 2px #444;
    position: absolute;
    top: 10px;
    left: 20px;
}

/* Article */

article {
    height: auto;
    padding: 30px 0;
}

article p {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    color: aliceblue;
    text-shadow: 1px 1px 2px black;
}

/* Tabs */

.tabs h2 {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 40px;
    padding: 30px 0px;
    color: aliceblue;
    text-shadow: 2px 2px 2px #444;
}

.nav-tabs {
    border-bottom: 0px;
}

.nav-tabs > li > a {
    background: url("./images/wooden3.jpg") center fixed;
    object-fit: cover;
    background-size: cover;
    box-shadow: 1px 1px 3px #000;
    margin: 5px;
}

.nav-tabs > li.active > a {
    text-shadow: 2px 2px 2px #000;
}

.tabs ul a {
    color: aliceblue;
    font-size: 25px;
    text-shadow: 2px 2px 2px black;
}

/* Images */

.tab-content img {    
    padding: 10px;
}

.tab-pane p {
    font-family: 'Bubblegum Sans', cursive;
    color: aliceblue;
    text-shadow: 2px 2px 3px #444;
    font-size: 35px;
    padding: 20px;
}


/* Footer */

footer {
    margin: 20px auto;
    display: block;
    background-color: aliceblue;
    width: 80%;
    height: 50px; 
    box-shadow: 2px 2px 3px #444;
}

footer p {
    text-align: center;
    line-height: 50px;
    color: black;
}

/* MEDIA QUERIES */

@media (max-width: 576px) {
    header .container p {
        font-size: 25px;
    }
    
    header article p {
        width: 100%;
        padding: 0 10px;
    }
    
    .tabs .tab-content img {
        width: 100%;
    }
}




